[submodule "external-cookbooks/opscode"]
	path = external-cookbooks/opscode
	url = git@github.com:opscode/cookbooks.git
[submodule "external-cookbooks/37signals"]
	path = external-cookbooks/37signals
	url = git@github.com:37signals/37s_cookbooks.git
[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = git@github.com:bramswenson/cookbook-rvm.git
