[submodule "external-cookbooks/opscode"]
	path = external-cookbooks/opscode
	url = https://bramswenson@github.com/opscode/cookbooks.git
[submodule "external-cookbooks/37signals"]
	path = external-cookbooks/37signals
	url = https://github.com/37signals/37s_cookbooks.git
[submodule "cookbooks/rvm"]
	path = cookbooks/rvm
	url = https://bramswenson@github.com/bramswenson/cookbook-rvm.git
